.chart {
  padding: 20px;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin: 5px;
  margin-bottom: 30px;
}

.gause > div {
  margin: auto !important ;
}