@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.monitor {
    padding: 20px;
    padding-top: 30px;
    background-color: aliceblue;
    position: relative;
    left: 150px;
    width: calc(100% - 150px);
    transition: all 0.5s ease;
    /* min-height: calc(100vh - 60px); */
    min-height: 100vh;
    padding-top: 80px;
}
.monitor.close{
    left: 30px;
    width: calc(100% - 30px);
}