@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --sidebar-primary: #11101d;
  --sidebar-secondary: #1d1b31;
  --white: #ffffff;
  --dark-blue: #00034f;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navTop {
  top: 20px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  position: absolute;
}

.navTop * {
  font-family: "Nunito Sans", sans-serif;
}

.navTop sup {
  color: white;
}

.navTop .navBrand img {
  width: 300px;
  margin-left: 90px;
}

.navTop .navItems ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navTop .navItems ul li {
  margin: 0 20px;
  cursor: pointer;
}

.navTop .navItems ul li a {
  color: white;
  text-decoration: none;
}

.navTop .navItems ul li.navText {
  margin: 0 10px;
}

.navTop .navItems ul li.navText a {
  padding: 10px 15px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0.8rem;
  border: 1px solid transparent;
}

.navTop .navItems ul li.navText:hover a {
  border: 1px solid #116dc4;
  background: #2091f9;
}

.navTop .navItems ul li.navIcon {
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
}

.navTop .navItems ul li.navIcon i {
  color: white;
  -webkit-transition-property: font-size, color;
  transition-property: font-size, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 1.8rem;
}

.navTop .navItems ul li.navIcon:hover i {
  font-size: 1.2rem;
  color: #2091f9;
}

.navTop .navItems ul li.navItem i {
  color: white;
  font-size: 1.2rem;
  margin-right: 3px;
}

.navTop .navItems ul li.navItem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: #2091f9;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.navTop .navItems ul li.navItem:hover a {
  background-color: #2091f9;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--sidebar-primary);
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .logoDetails {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .logoDetails div {
  min-width: 78px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .logoDetails div.logo {
  display: none;
}

.sidebar .logoDetails div.logo > img {
  width: 25px;
  height: 25px;
}

.sidebar .logoDetails div.fullLogo {
  padding: 22px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.sidebar .logoDetails div.fullLogo > img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar .navLinks {
  height: 100%;
  padding: 10px 0 150px 0;
  overflow: auto;
}

.sidebar .navLinks li {
  position: relative;
  list-style: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 5px 10px;
  border-radius: 8px;
}

.sidebar .navLinks li:hover {
  background: #5d62fb;
  -webkit-box-shadow: 0 0 8px #5d62fb99;
          box-shadow: 0 0 8px #5d62fb99;
}

.sidebar .navLinks li .iconLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .navLinks li i {
  height: 50px;
  min-width: 58px;
  text-align: center;
  line-height: 50px;
  color: var(--white);
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px #00b3ff;
}

.sidebar .navLinks li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.sidebar .navLinks li a .linkName {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--white);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .navLinks li .subMenu {
  display: none;
  background: transparent;
  margin-top: -10px;
}

.sidebar .navLinks li .subMenu .linkName {
  display: none;
}

.sidebar .navLinks li .subMenu .listWrapper {
  padding: 6px 6px 14px 20px;
  background: var(--sidebar-secondary);
  border-radius: 8px;
}

.sidebar .navLinks li .subMenu a {
  position: relative;
  color: var(--white);
  font-size: 0.7rem;
  padding: 5px 10px;
  white-space: nowrap;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar .navLinks li .subMenu a:hover {
  opacity: 1;
}

.sidebar .navLinks li .subMenu .blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 14px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .navLinks li.showMenu {
  background: var(--sidebar-secondary);
}

.sidebar .navLinks li.showMenu i.arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sidebar .navLinks li.showMenu .subMenu {
  display: block;
}

.sidebar .navLinks li.showMenu .blank {
  display: none;
}

.sidebar .navLinks li:hover .subMenu.blank {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar .profileDetails {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--sidebar-secondary);
  padding: 12px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: -5px -10px;
}

.sidebar .profileDetails .nameJob {
  overflow: hidden;
}

.sidebar .profileDetails .profileContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .profileDetails .profileContent label {
  cursor: pointer;
}

.sidebar .profileDetails img {
  height: 52px;
  width: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: var(--sidebar-secondary);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .profileDetails .profileName,
.sidebar .profileDetails .job {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
  font-size: 0.6rem;
}

.sidebar.close {
  width: 78px;
}

.sidebar.close .logoDetails div.fullLogo {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  display: none;
}

.sidebar.close .logoDetails div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar.close .navLinks {
  overflow: visible;
}

.sidebar.close .navLinks::-webkit-scrollbar {
  display: none;
}

.sidebar.close .navLinks li .iconLink {
  display: block;
}

.sidebar.close .navLinks li i.arrow {
  display: none;
}

.sidebar.close .navLinks li a .linkName {
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .navLinks li .subMenu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding-left: 14px;
  opacity: 0;
  display: block;
  pointer-events: none;
  -webkit-transition: 0s;
  transition: 0s;
}

.sidebar.close .navLinks li .subMenu .linkName {
  font-size: 0.9rem;
  opacity: 1;
  display: block;
}

.sidebar.close .navLinks li .subMenu .listWrapper {
  padding: 6px 8px 8px 15px;
}

.sidebar.close .navLinks li .subMenu li.listHead:hover {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidebar.close .navLinks li .subMenu .blank > .listWrapper {
  padding: 0;
  margin-top: 5px;
}

.sidebar.close .navLinks li .subMenu .blank > .listWrapper > li {
  margin: 0;
}

.sidebar.close .navLinks li:hover .subMenu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar.close .profileDetails {
  background: none;
  width: 78px;
}

.sidebar.close .profileDetails img {
  padding: 5px;
}

.sidebar.close .profileDetails i,
.sidebar.close .profileDetails .profileName,
.sidebar.close .profileDetails .job {
  display: none;
}

@media (max-width: 420px) {
  .sidebar .close .navLinks li .subMenu {
    display: none;
  }
}

.topbar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: transparent;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  left: 260px;
  width: calc(100% - 260px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.topbar a {
  text-decoration: none;
}

.topbar.close {
  left: 78px;
  width: calc(100% - 78px);
}

.topbar .topbarWrapper {
  height: 100%;
  padding: 0 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.topbar .topLeft i {
  color: var(--sidebar-primary);
  font-size: 2rem;
  cursor: pointer;
  background-attachment: fixed;
  text-shadow: 0 0 2px #023146;
}

.topbar .topRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .topbarIconContainer {
  font-size: 1.3rem;
  margin-right: 18px;
}

.topbar .topbarIconContainer a i {
  color: black;
}

.topbar .topbarIconContainer2 {
  position: relative;
  cursor: pointer;
  color: var(--sidebar-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .topbarIconContainer2 .flowBtn2 {
  position: relative;
  color: var(--sidebar-primary);
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.topbar .topbarIconContainer2 .flowBtn2::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  top: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: var(--sidebar-primary);
}

.topbar .topbarIconContainer2 .flowBtn2:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.topbar .topIconText2 {
  padding-right: 50px;
  color: var(--sidebar-primary);
  font-weight: 800;
}

.topbar .topIconText {
  margin-left: 5px;
  color: #fff;
  font-weight: 600;
}

.topbar .topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
}

.loginPage {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.loginPage .formsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loginPage .signinSignup {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
}

.loginPage .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 5rem;
  -webkit-transition: all 0.2s 0.7s;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.loginPage .form.signUpForm {
  opacity: 0;
  z-index: 1;
}

.loginPage .form.signInForm {
  z-index: 2;
}

.loginPage .form .buttonWrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage .title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  font-weight: bold;
}

.loginPage .inputField {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: 1.5px solid transparent;
}

.loginPage .inputField:focus-within {
  border: 1.5px solid #116dc4;
}

.loginPage .inputField i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1rem;
}

.loginPage .inputField input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.loginPage .inputField input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.loginPage .inputField input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.loginPage .inputField input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.loginPage .inputField input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.loginPage .socialText {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.loginPage .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginPage .socialIcon {
  height: 46px;
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loginPage .socialIcon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.loginPage .btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loginPage .btn:hover {
  background-color: #38507a;
}

.loginPage .btn.transparent {
  margin: 5px 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.loginPage .btn.transparent:hover {
  background-color: #38507a;
}

.loginPage .panelsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.loginPage:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #0d0d11 0%, #2d2f71 100%);
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.loginPage .image {
  width: 100%;
  -webkit-transition: -webkit-transform 1.1s ease-in-out;
  transition: -webkit-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out, -webkit-transform 1.1s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.loginPage .leftPanel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.loginPage .rightPanel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.loginPage .rightPanel .image,
.loginPage .rightPanel .content {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.loginPage .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.loginPage .panel .content {
  color: #fff;
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.loginPage .panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
  margin-top: 10px;
}

.loginPage .panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
  font-style: italic;
}

.loginPage .panel p span {
  color: #38507a;
  font-weight: bold;
  font-size: 1.1rem;
  font-style: normal;
}

.loginPage.signUpMode:before {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 52%;
}

.loginPage.signUpMode .leftPanel {
  pointer-events: none;
}

.loginPage.signUpMode .leftPanel .image,
.loginPage.signUpMode .leftPanel .content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.loginPage.signUpMode .rightPanel {
  pointer-events: all;
}

.loginPage.signUpMode .rightPanel .image,
.loginPage.signUpMode .rightPanel .content {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.loginPage.signUpMode .signinSignup {
  left: 25%;
}

.loginPage.signUpMode .signUpForm {
  opacity: 1;
  z-index: 2;
}

.loginPage.signUpMode .signInForm {
  opacity: 0;
  z-index: 1;
}

@media (max-width: 870px) {
  .loginPage {
    min-height: 800px;
    height: 100vh;
  }
  .loginPage .signinSignup {
    width: 100%;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: 1s 0.8s ease-in-out;
    transition: 1s 0.8s ease-in-out;
  }
  .loginPage .panelsContainer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  .loginPage .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .loginPage .panel .content {
    padding-right: 15%;
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .loginPage .panel h3 {
    font-size: 1.2rem;
  }
  .loginPage .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .loginPage .rightPanel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .loginPage .leftPanel {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .loginPage .image {
    width: 200px;
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .loginPage .btn .transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .loginPage:before {
    width: 1500px;
    height: 1500px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .loginPage.signUpMode .signinSignup {
    left: 50%;
    top: 5%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .loginPage.signUpMode:before {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .loginPage.signUpMode .leftPanel .image,
  .loginPage.signUpMode .leftPanel .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .loginPage.signUpMode .rightPanel .image,
  .loginPage.signUpMode .rightPanel .content {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .loginPage .rightPanel .image,
  .loginPage .rightPanel .content {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
}

@media (max-width: 570px) {
  .loginPage {
    padding: 1.5rem;
  }
  .loginPage .form {
    padding: 0 1.5rem;
  }
  .loginPage .image {
    display: none;
  }
  .loginPage .leftPanel {
    padding: 0.6rem 17% 2rem 12%;
  }
  .loginPage .panel .content {
    padding: 0.5rem 1rem;
  }
  .loginPage:before {
    bottom: 72%;
    left: 50%;
  }
  .loginPage.signUpMode:before {
    bottom: 28%;
    left: 50%;
  }
}
/*# sourceMappingURL=style.css.map */