* {
    padding: 0;
    margin: 0;
}

.navTop {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    flex-wrap: wrap;
    flex:  1;
    width: 100%;
    position: absolute;
}

.navTop sup {
    color: white;
}

.navBrand img {
    width: 300px;
}


.navItems ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.navItems ul li {
    margin: 0 20px;
    cursor: pointer;
}

.navItems ul li.navText {

    margin: 0 10px;
}

.navItems ul li.navText a {
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
}

.navItems ul li.navText:hover a {
    border: 1px solid #116dc4;
    background: #2091F9;
}

.navItems ul li a {
    color: white;
    text-decoration: none;

}

.navItems ul li.navIcon {
    width: 1.7rem;
    height: 1.7rem;
    text-align: center;
}

.navItems ul li.navIcon i {
    color: white;
    transition: font-size 0.3s ease-in-out;
    font-size: 1.5rem;
}

.navItems ul li.navIcon:hover i {
    font-size: 1.2rem;
}

.navItems ul li.navItem i {
    color: white;
    font-size: 1.2rem;
    margin-right: 3px;
}

.navItems ul li.navItem a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2091f9;
    border-radius: 20px;
    padding: 5px 15px;
}