@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container {
    gap: 10px;
    justify-content: space-evenly;
    flex: 1;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding: 0 10px;
}

.card {
    min-width: 200px;
    /* background-color: white; */
    background-color: transparent;
    padding: 20px 15px;
    border-radius: 10px;
    height: 120px;
    font-size: 14px;
    flex-grow: 1;
    /* flex: 1; */
    font-family: 'Montserrat', sans-serif;
    width: 24%;
    box-shadow: 0 5px 18px rgba(0,0,0,0.30), 0 8px 8px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card p {
    font-size: 17px;
}

.table {
    box-shadow: none;
}

.gauge{
    /* border: 5px solid red; */
    border-radius: 10px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.30), 0 8px 8px rgba(0,0,0,0.22);
}