@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.home * {
    font-family: 'Poppins', sans-serif;
}
.home {
    padding: 20px 0;
    padding-top: 30px;
    background-color: aliceblue;
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    /* min-height: calc(100vh - 60px); */
    min-height: 100vh;
    padding-top: 80px;
}
.home.close {
    left: 78px;
    width: calc(100% - 78px);
}
.homeWidgets{
    display: flex;
    margin: 20px;
}