@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.register {
    padding: 20px;
    padding-top: 80px;
    background-color: aliceblue;
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    /* min-height: calc(100vh - 60px); */
    min-height: 100vh;
}
.register.close{
    right: 80px;
    left: 75px;
    width: calc(100% - 78px);
}
.register h6 {
    font-family: 'Poppins', sans-serif;
    color: darkblue;
    font-weight: bold;
}