.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 5;

  background-color: transparent;
  backdrop-filter: blur(80px);
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.topbar a {
  text-decoration: none;
}

.topbar.close {
  left: 78px;
  width: calc(100% - 78px);
}

.topbarWrapper {
  height: 100%;
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.topLeft i {
  color: #11101d;
  font-size: 2rem;

  cursor: pointer;
  background-attachment: fixed;
  text-shadow: 0 0 2px #023146;
}



.topRight {
  display: flex;
  align-items: center;
}


.topbarIconContainer {
  font-size: 1.3rem;
  margin-right: 18px;
}

.topbarIconContainer a i {
  color: black;
}

.topbarIconContainer2 {
  position: relative;
  cursor: pointer;
  color: #11101d;
  display: flex;
  align-items: center;
}

.topbarIconContainer2.flowBtn2 {
  position: relative;
  color: #11101d;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-align: center;

}

.topbarIconContainer2.flowBtn2::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  top: 100%;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
  background: #11101d;
}

.topbarIconContainer2.flowBtn2:hover::after {
  transform: scaleX(1);
}

.topIconText2 {
  padding-right: 50px;
  color: #11101d;
  font-weight: 800;
}

.topIconText {
  margin-left: 5px;
  color: #fff;
  font-weight: 600;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}