@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.register {
 padding: 20px;
}
.register a{
    text-decoration: none;
    /* color: black; */
}

.register h6 {
    font-family: 'Poppins', sans-serif;
    color: darkblue;
    font-weight: bold;
}