.profilebox2 {
    width: 1000px;
    height: 600px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 120px;
    background-color: #FFFFFF;
}

.titlebox {
    display: flex;
    padding-left: 21px;
    padding-top: 20px;
    justify-content: space-between;
}

.proftitle {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #242731;
}

.fa-pen-square {
    margin-right: 37px;
    font-size: 40px;
}

.pswrdchange {
    display: block;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #242426;
    padding-left: 29px;
    padding-top: 20px;
}

.pswrdinput {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    width: 400px;
    height: 20px;
}

.btngrid {
    display: flex;
    padding-left: 780px;
    padding-top: 15px;
}

.cnclbtn2 {
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8.86px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin-right: 36px;
}

.updatebtn2 {
    width: 100px;
    height: 40px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    background: #116dc4;
    border-radius: 8.86px;
}

.twoinputs {
    display: flex;
    margin-left: 60px;
}

.smlinput {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    width: 200px;
    height: 60px;
}

.changeimgbtn {
    margin-top: 20px;
    width: 190px;
    height: 40px;
    border: #C4C4C4 1px solid;
    color: #000000;
    background-color: #fff;
    border-radius: 10px;
}

.changeimgbtn:hover {
    border-color: #000000;
}