@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.mainContainer {
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-bottom: 40px;
}
.mainContainer blockquote {
    /* font-family: 'Special Elite', cursive; */
	font-weight: 100;
	font-size: 1.5rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}
.mainContainer blockquote:before, .mainContainer blockquote:after {
    position: absolute;
	color: #bebcb4;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.mainContainer blockquote:before {
    content: '“';
	left: -5rem;
	top: -2rem;
}

.mainContainer blockquote:after {
    content: '”';
	right: -5rem;
	bottom: 1rem;
}

.mainContainer cite {
    /* font-family: 'Special Elite', cursive; */
    font-weight: bold;
    line-height: 3;
	text-align: left;
}

@media (max-width: 755px) {
	.mainContainer {
		width: 60%;
	}
	.mainContainer blockquote {
        font-size: 1.1rem;
        text-align: center;
    }
    .mainContainer blockquote:before, .mainContainer blockquote:after {
        font-size: 6rem;
        width: 2rem;
        height: 2rem;
    }
    .mainContainer blockquote:before {
        left: -2rem;
    }
    
    .mainContainer blockquote:after {
        right: -2rem;
    }
}