
.home * {
    /* font-family: 'Poppins', sans-serif; */
}
.home {
    background-color: aliceblue;
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    min-height: 100vh;
}
.home.close {
    left: 78px;
    width: calc(100% - 78px);
}
.homeWidgets{
    display: flex;
}