@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureContainer {
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-bottom: 80px;
}
.featureContainer blockquote {
	font-weight: 100;
	font-size: 1.3rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}
.featureContainer blockquote:before, .featureContainer blockquote:after {
    position: absolute;
	color: #bebcb4;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

.featureContainer blockquote:before {
    content: '“';
	left: -5rem;
	top: -2rem;
}

.featureContainer blockquote:after {
    content: '”';
	right: -5rem;
	bottom: 1rem;
}
.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    width: 25%;
    margin: 0 25px;
}
.cardWrapper img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.cardWrapper .heading {
    font-size: 1rem;
    font-weight: 800;
}
.cardWrapper .subHeading {
    margin-top: 10px;
    font-size: 0.8rem;
    color: gray;
}

@media (max-width: 755px) {
	.featureContainer {
		width: 60%;
	}
    .cardWrapper {
        width: auto;
        margin: 20px 25px;
    }
}

@media (max-width: 575px) {
    .mainContainer {
        margin-top: 20px;
    }
    .featureContainer blockquote {
        font-size: 1.1rem;
        text-align: center;
    }
    .featureContainer blockquote:before, .featureContainer blockquote:after {
        font-size: 6rem;
        width: 2rem;
        height: 2rem;
    }
    .featureContainer blockquote:before {
        left: -2rem;
    }
    .featureContainer blockquote:after {
        right: -2rem;
    }
}